@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800|Playfair+Display');


* {
  /* border: 1px solid blue; */
  padding: 0;
  margin: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}

h1 {
  color: #003BDE;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  margin-left: 60px;
}

h2 {
  font-size: 30px;
  color: black;
  font-family: "Playfair Display", serif;
  padding: 30px 60px;
}

nav a {
  color: #051033;
  text-decoration: none;
}

#header {
  display: flex;
}

img {
  width: 100%;
}
.left {

}

.right {

}

.col-2 {

}
