* {
  margin: 0;
  padding: 0;
}

body {
  margin-top: 5%;
  text-align: center;
  background-color: yellow;
  font-family: sans-serif;
}

img {
  height: 300px;
}

a,
a:visited {
  text-decoration: none;
}

h1 {
  margin-bottom: 40px;
  font-style: sans-serif;
}

h2 {
  margin-top: 20px;
}

.label {
  display: block;
}

.success {
  display: inline-block;
}

.rdj {
  display: inline-block;
}
