* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

body {
  background-color: #c4c4c4;
}

.button-box {
  margin-top: 20%;
  text-align: center;
}

.button {
  display: inline-block;
  width: 110px;
  height: 110px;
  border: 10px solid gray;
  border-radius: 65px;
  border-style: inset;
  margin: 10px;
}

#red {
  background-color: #D40000;
}

#yellow {
  background-color: #DECD00;
}

#blue {
  background-color: #002FDE;
}
