* {
  padding: 0;
  margin: 0;
  /* border: 1px solid blue; */
}

body {
  background-color: #cccccc;
}

.upper {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.eye {
  position: relative;
  margin: 0 auto;
}

.wall {
  position: absolute;
  background-color: #000000;
}

.ground {
  position: relative;
  margin: 0 auto;
  background-color: #4c4c4c;
}

.gate {
  position: absolute;
  bottom: 0;
}

/* Javascript trapezoid! */
.path {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 0;
}

.columns {
  position: absolute;
  bottom: 0;
}

.col-l {
  position: absolute;
}

.col-r {
  position: absolute;
}
